.msgbox-overlay {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .67;
    filter: alpha(opacity=67);
}
.msgbox {
    display: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: fixed;
    min-width: 400px;
    max-width: 500px;
    z-index: 1002;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.42);
    -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.42);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.42);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.msgbox-header {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    color: #3f3f3f;
    padding: 20px 40px 0 20px;
}
.msgbox-button-close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.msgbox-button-close:hover {
    color: #555;
}
.msgbox-footer button::-moz-focus-inner, .msgbox-footer button:active, .msgbox-footer button:focus {
    border: none;
    outline: none;
}
.msgbox-body {
    position: relative;
    padding: 20px 40px 0 20px;
    color: #454545;
    margin: 0;
    font-size: 13px;
    min-height:20px;
}
.msgbox-footer {
    padding: 20px;
    margin: 0;
}
.msgbox-button {
    cursor: pointer;
    border-radius: 2px;
    padding: 6px 11px;
    min-width: 60px;
    border: 1px solid #cbced9;
    color: #5f5f5f;
    margin: 0 6px 6px 0;
    background-color: #f8f8f8;
}
.msgbox-button:hover {
    background: #e2e2e6;
    border-color: #abaeb7;
}
.msgbox-button.msgbox-button-default {
    border: 1px solid #324fe1 !important;
    background: #5670ff;
    color: #fff;
}
.msgbox-button.msgbox-button-default:hover {
    background: #4255b5;
    border-color: #1d1da3;
    color: #fbfbfb;
}
